<ion-header>
  <ion-navbar>
    <ion-title>TODO LOGS</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div *ngFor="let item of todoCtrl.todoLogs; let i = index;">
    <ion-card *ngFor="let log of item;">
      <ion-card-header> <ion-label color="light" style="font-size:20px;"> {{ log.title }} </ion-label> </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>Todo Items</ion-list-header>
          <ion-item *ngFor="let todo of log.todoList">
            <p>{{ todo.title }}</p>
          </ion-item> 
        </ion-list>

        <ion-list>
          <ion-list-header>Archived Items</ion-list-header>
          <ion-item *ngFor="let archive of log.archivedList">
            <p>{{ archive.title }}</p>
          </ion-item> 
        </ion-list>

      </ion-card-content>
    </ion-card>     
  </div>
</ion-content>
