<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        <ion-title>Mr. Panda Todo </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        
            
        <ion-list>
            <button ion-item *ngFor="let page of pages" (click)="openPage(page.component)">
                {{ page.title }}
            </button>
            
            <button ion-item *ngFor="let button of helperButtons" (click)="saveItems()">
                {{ button.title }}
            </button>

        </ion-list>

    </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>
